{% extends '::base.html.twig' %}


{% block stylesheets %}

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('assets/front/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('assets/front/css/shop-homepage.css') }}" rel="stylesheet">

{% endblock stylesheets %}


{% block body %}

<!-- Navigation -->

{% include "TroiswaFrontBundle:Globals:header-nav.html.twig" only %}


<!-- Page Content -->
<div class="container">

    <div class="row">

        {% include "TroiswaFrontBundle:Globals:category-nav.html.twig" only %}

        {% block content %}


        {% endblock content %}

    </div>

</div>
<!-- /.container -->



<div class="container">



    <!-- Footer -->
{% include "TroiswaFrontBundle:Globals:footer.html.twig" only %}

</div>
<!-- /.container -->



{% endblock body %}

{% block javascripts %}

    <!-- jQuery -->
    <script src="{{ asset('assets/front/js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('assets/front/js/bootstrap.min.js') }}"></script>

{% endblock javascripts %}
