{% extends 'TroiswaBackBundle::layout-admin.html.twig' %}

{% block title %}Editer un tag{% endblock %}

{% block h1 %}Editer un tag{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('troiswa_back_tag_list') }}"><i class="fa fa-tag"></i> Lister les tags</a>
    </li>
    <li class="active">
        <i class="fa fa-tag"></i> Editer un tag
    </li>
{% endblock %}

{% block content -%}
    <div class="well col-lg-8">
        {{ form(edit_form) }}
    </div>

{% endblock %}
