<!--div>
    Ceci, cher {#{ firstname }#} ou , c'est le footer de notre page de conditions générales de vente de chez nous.
</div-->
<div>
    Ceci, cher {{ name }} ou , c'est le footer de notre page de conditions générales de vente de chez nous.
</div>