<!DOCTYPE html>
<html>
<head>

</head>
<body>
<p>Message envoyé par {{ data.firstname ~ " " ~ data.lastname}} le {{ "now" | date('d - m - y') }}</p>
<p>Sujet : {{ data.subject }}</p>
<p>Message : {{ data.contenu }}</p>
</body>
</html>